@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700;800&display=swap');


* {
    margin: 0;
    padding: 0.7rem;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-family: "Work Sans", sans-serif;
}


:root {
    --icons-bg: rgba(144, 172, 209, 0.2);
    --bg: rgb(249, 249, 255);
    --black: #212529;
    --helper: #5f9ea0;
    --para: #777;
    --para-tint: #e4e4e4;
    --white: #fff;
    --shadow: 0px 0px 20px 0px #5f9ea0;
    --heading: rgb(0, 10, 45);
    --helper-tint: #f3f4ff;
}


html {
    font-size: 62.5%;
    /* 1rem = 10px */
}

h1,
h2,
h3,
h4 {
    font-family: 'Poopins', sans-serif;
}

h1 {
    color: var(--heading);
    font-size: 6rem;
    font-weight: 600;
}

h3 {
    font-size: 1.8rem;
    font-weight: 400;
}

p {
    color: var(--para);
    line-height: 1.6;
    font-size: 1.7rem;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

/* Reusable Code Section Starts */

.section {
    padding: 6rem 0rem;
}

.title {
    font-size: 1.8rem;
}

.title span {
    color: red;
}

.container {
    max-width: 125rem;
    margin: 0 auto;
}

.grid {
    display: grid;
    gap: 9rem;
}

.grid-two-column {
    grid-template-columns: repeat(2, 1fr);
    /* Here 2 is number of columns */
}

.grid-three-column {
    grid-template-columns: repeat(3, 1fr);
    /* Here 3 is number of columns */
}

.grid-four-column {
    grid-template-columns: repeat(4, 1fr);
    /* Here 4 is number of columns */
}

.btn {
    background: var(--helper);
    padding: 0.8rem 1.6rem;
    border: none;
    color: var(--white);
    display: inline-block;
    text-transform: uppercase;
    font-size: 1.8rem;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s linear;
    border-radius: 1rem;
}

.btn:hover,
.btn:active {
    box-shadow: var(--shadow);
}

.common-heading {
    font-size: 4.8rem;
    font-weight: 600;
    margin-bottom: 3rem;
    text-transform: capitalize;
    position: relative;
}

/* Footer Section */
.section-footer {
    background: var(--heading);
    transition: all 0.7s linear;
}

.section-footer h3 {
    color: var(--white);
    margin-bottom: 1rem;
}

.f-about p {
    color: #adadad;
}

.f-links ul,
.f-address address {
    display: flex;
    flex-direction: column;
    gap: 1.8rem;
    justify-content: center;
}

.f-links li,
.f-links a {
    font-size: 1.5rem;
    color: #adadad;
    text-transform: uppercase;
}

.f-links span,
.f-address span {
    margin-right: 0.5rem;
}

.f-address p,
.f-address p a {
    font-style: normal;
    color: #adadad;
}

.container .f-social-icons {
    margin: 5rem 0 0 0;
    align-content: center;
    color: #adadad;
}

.f-social-icons .icons {
    content: "";
    position: relative;
    padding: 1.4rem 1.8rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 6rem;
    height: 6rem;
    color: var(--white);
    border-radius: 56% 44% 70% 30% / 30% 54% 46% 70%;
    background-color: var(--icons-bg);
    border: 1px solid var(--black);
    animation: all 3s linear;
}

/* Reusable Code Section Ends */


/* Header Section Starts */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 4.5rem;
    height: 10rem;
    background-color: var(--bg);
}

.navbar-lists {
    display: flex;
    gap: 2.5rem;
}

.navbar-link:link,
.navbar-link:visited {
    display: inline-block;
    text-decoration: none;
    font-size: 1.8rem;
    font-weight: 500;
    text-transform: uppercase;
    color: var(--black);
    transition: all 0.3s linear;
}

.navbar-link:hover,
.navbar-link:active {
    color: var(--helper);
}

/* Header Section Ends */

/* Hero Section Starts */

.section-hero {
    background-color: var(--bg);
}

.section-hero-data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: flex-start; */
}

.hero-heading {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 3.5rem;
}

.hero-para {
    font-size: 2.5rem;
    margin-top: 1.5rem;
    margin-bottom: 5rem;
    max-width: 60rem;
}

.section-hero-image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-hero-image img {
    border-radius: 15px;
    box-shadow: 2rem -2rem 0 0 var(--helper);
}

.hero-img {
    max-width: 130%;
}

/* Hero Section Ends */

/* Join Section Starts */

.section-join {
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-join h2 {
    color: var(--heading);
    font-size: 3rem;
    font-weight: 600;
}

.section-join .container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.section-join .container a {
    margin-top: 2rem;
}

/* Join Section Ends */


/* Campaign Section Starts */

.section-campaign {
    background: var(--bg);
    transition: all 0.7s linear;
}

.section-campaign p {
    max-width: 60rem;
}

.p-btns {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3.2rem;
    margin: 3rem 0rem;
}

.campaign-images {
    gap: 3.2rem;
    margin-top: 6.4rem;
}

.campaign-images img {
    height: 20rem;
    width: 100%;
    border-radius: 2rem;
    position: relative;
    overflow: hidden;
}

.img-overlay {
    position: relative;
    overflow: hidden;
}

.img-overlay .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background: var(--helper);
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(100%);
    transition: all 0.3s linear;
    border-radius: 1rem;
}

.img-overlay:hover>.overlay {
    transform: translateY(0);
    opacity: 0.8;
    cursor: pointer;
}

.img-overlay .common-heading {
    margin: 0;
    color: var(--white);
    text-transform: none;
}

/* Campaign Section Ends */



/* About Section Starts */

.works {
    padding: 1rem;
    justify-content: center;
    align-items: center;
}

.works .features {
    border: 0.1rem solid #5f9ea0;
    justify-content: left;
    text-align: left;
    border-radius: 1rem;
    padding: 2rem;
}

.works .features h3 {
    font-weight: 600;
    font-size: 1.5rem;
    font-weight: 350;
    color: #5f9ea0;
}

.works h2 {
    font-size: 2.25rem;
    font-weight: 750;
}

.works .col {
    width: 20rem;
    height: 20rem;
    display: flex;
    border-radius: 10%;
}

/* About Section Ends */


/* Donation Section Starts */

.container .hero {
    width: 100%;
    height: 100vh;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero {
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: 50rem;
}

.hero button {
    width: 10rem;
    height: 4rem;
    cursor: pointer;

}

.hero h1 {
    font-size: 8rem;
    color: cadetblue;
    padding-bottom: 1rem;

}

.hero h3 {
    font-size: 2.5rem;
    padding-bottom: 3rem;

}

.buttons {
    padding: 2rem;
}

#Fund-btn,
#Food-btn,
#Cloth-btn,
#other-btn {
    margin: 1rem;
    background: cadetblue;
    color: #fff;
    outline: 0;
    border: 0;
    border-radius: 2rem;
    font-weight: 600;
    font-size: larger;

}

.fund-box {
    max-width: 40rem;
    margin: 5rem auto;
    padding-top: 0;
    /* padding: 20px; */
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    color: #333;
}


form {
    margin-top: 2rem;
}

label {
    display: block;
    margin-bottom: 0.5rem;
    color: #333;
}

input[type="text"],
input[type="tel"],
input[type="number"],
textarea {
    width: 100%;
    padding: 0.8rem;
    margin-bottom: 1rem;
    border: 0.1rem solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

textarea {
    height: 10rem;
}

#donate-btn {
    width: 100%;
    padding: 1rem;
    background-color: #007bff;
    border: none;
    border-radius: 0.4rem;
    color: #fff;
    font-size: 1.6rem;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

/* Donation Section Ends */


/* Login Page Section Starts */

.login h2 {
    color: var(--heading);
    font-size: 3rem;
    font-weight: 600;
}

.login span {
    width: 6rem;
    height: 3.2rem;
}

.login input {
    width: 17.4rem;
    height: 3.2rem;
}

.login .section {
    align-content: center;
}

/* Login Page Section Ends */