/* html, body {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
} */

.image-container {
    position: relative;
}

.image-container .img-fluid {
    border-radius: 10% !important;
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    padding-left: 50%;
    padding-right: 50%;
    margin-left: 50%;
    margin-right: 50%;
    transform: translate(-50%, -50%);
    color: white;
    padding: 20px;
}

.onImage {
    margin-top: 15%;
    margin-right: 10%;
    width: 650px;
    height: 230px;
    
}

.join {
    height: 100%;
    margin: 0;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 50px;
}

.join h3{
    font-size: 10px;
    padding: 20px;
}



/* Featured Campaigns Starts */

.campaigns{
    justify-content: center;
    align-items: center;
    text-align: center;
}

.campaigns .brand-area .first-row .col-lg-4 .single-brand > img{
    height: 200px;
    width: 200px;
    padding: 10px;
}
.campaigns .brand-area{
    padding: 16px 100px;
    margin-bottom: 64px;
}

.campaigns .brand-area .first-row .col-lg-4{
    display: flex;
    justify-content: center;
}

.campaigns .brand-area .first-row .col-lg-4 > .single-brand{
    border: 1px solid var(--border-color);
    text-align: center;
    /* padding: 2px 0px; */
    margin: 20px 0px;
    width: 200px;
    height: 200px;
    /* cursor: pointer;
    transition: transform 0.4s ease; */
}

.campaigns .brand-area .first-row .col-lg-4 > .single-brand > .img{
    width: 50%;
}

.campaigns .brand-area .first-row .col-lg-4 > .single-brand:hover{
    box-shadow: var(--box-shadow);
    /* transform: scale(1.1); */
}

.campaigns .brand-area .first-row .col-lg-4 > .single-brand:hover > .img{
    filter: brightness(0.15);
}

/* Featured Campaigns Ends */