/* html, body {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
} */

:root {
    --main: #ff0000;
    --black: #000;
    --white: #fff;
}

.btn {
    width: fit-content;
    margin-left: 10px;
    border-radius: 5px;
    background-color: var(--white);
    color: var(--main);
    border: 1px solid var(--main);
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn:hover {
    background-color: var(--main);
    color: var(--white);
}

.btn:active {
    background-color: #ccc;
}


/* Navigation starts */
.nav a{
    color: grey;
}

.nav span {
    font-size: 1.5em;
    color: var(--main) !important;
}
/* Navigation Ends */


/* Popup Section Starts */

.popup h3{
    justify-content: center;
    align-items: center;
    text-align: center;
}

.modal-body{
    background: linear-gradient(rgb(255, 255, 255), #789daa);
    overflow-x: hidden;
    color:black !important;
    margin: -100px;
    width: 700px;
}

/* Popup Section Ends */

/* Image Section Starts */
.image-container {
    position: relative;
}

.image-container .img-fluid {
    border-radius: 10% !important;
}
/* Image Section Starts */

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    padding-left: 50%;
    padding-right: 50%;
    margin-left: 50%;
    margin-right: 50%;
    transform: translate(-50%, -50%);
    color: white;
    padding: 20px;
}

.onImage {
    margin-top: 15%;
    margin-right: 10%;
    width: 650px;
    height: 230px;
    
}
/* Image Section Starts */


/* Content Section Starts */
.join {
    height: 100%;
    margin: 0;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 50px;
}

.join h3{
    font-size: 15px;
    padding: 20px;
}
/* Content Section Ends */


/* Featured Campaigns Starts */

.campaigns{
    justify-content: center;
    align-items: center;
    text-align: center;
}

.campaigns .brand-area .first-row .col-lg-4 .single-brand > img{
    height: 200px;
    width: 200px;
    padding: 10px;
    border-radius: 15% 0% !important;
}

.campaigns .brand-area .first-row .col-lg-4 .single-brand > img:hover{
    height: 200px;
    width: 200px;
    padding: 10px;
    border-radius: 0% 15% !important;
    box-shadow: 10px 10px 10px -10px rgba(218, 14, 14, 0.5), inset 10px 10px 10px -10px rgba(218, 14, 14, 0.5);
    padding: 20px;
    /* background: #5c5353; */
    text-align: center;
    cursor: pointer;
    transition: 0.5s ease;
    filter: brightness(1.15);
}

.campaigns .brand-area{
    padding: 16px 100px;
    margin-bottom: 64px;
}

.campaigns .brand-area .first-row .col-lg-4{
    display: flex;
    justify-content: center;
}

.campaigns .brand-area .first-row .col-lg-4 > .single-brand{
    border: 1px solid var(--border-color);
    text-align: center;
    margin: 20px 0px;
    width: 200px;
    height: auto;
}

.campaigns .brand-area .first-row .col-lg-4 > .single-brand > .img{
    width: 50%;
}

/* .campaigns .brand-area .first-row .col-lg-4 > .single-brand:hover{
    box-shadow: var(--box-shadow);
    transform: scale(1.1);
} */

.campaigns .brand-area .first-row .col-lg-4 > .single-brand > h3{
    font-size: 20px;
}

.campaigns .brand-area .first-row .col-lg-4 > .single-brand > h5{
    font-size: 10px;
}

/* Featured Campaigns Ends */

/* Footer Starts */

.footer{
    color: grey;
}

.footer a{
    color: grey;
}

/* Footer Ends */