/* html, body {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  } */

.image-container {
    position: relative;
}

.image-container .img-fluid {
    border-radius: 10% !important;
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    padding-left: 50%;
    padding-right: 50%;
    margin-left: 50%;
    margin-right: 50%;
    transform: translate(-50%, -50%);
    color: white;
    padding: 20px;
}

.onImage {
    margin-top: 15%;
    margin-right: 10%;
    width: 650px;
    height: 230px;

}

.join {
    height: 100%;
    margin: 0;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    text-align: center;
}

.join h3{
    font-size: 10px;
    padding: 20px;
}

/* .join h2{
    font-size: 20px;
    padding: 20px;
} */